.main__textblk {
    
}

.mainText {
    width:100%;
    height: 500px;
    overflow: hidden;    
    position: relative;
}

.mainText::after { 
    content: "";
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(hsla(0,0%,100%,0),#fff);
    z-index: 10;
}


.mainText.shoved {
    height: auto;
} 

.mainText.shoved::after { 
    content: "";
    background:none;
}

.mainText p{
    margin:  1em 0;
}

.mainText ul{
    margin: 1em 0;
    list-style: none;
}

.mainText ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

  ol li {
    margin: 5px 0;
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: #f0a366;
    font-weight: bold;
    margin-right: 5px;
  }
  


.mainText ul li{
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
}

.mainText ul li:before{
    content: ""; 
    position: absolute;
    width:7px;
    height:7px;
    background-color: #f0a366;
    left: 0;
    top: 8px;
}

.hide_show_panel {
    width: 100%;
    display: flex;
}

.hide_show_panel a{ 
    margin: 0 auto;
    border: 2px solid #f0a366;
    border-radius: 4px;
    padding: 5px 20px;
}

.hide_show_panel a:hover{ 
    background-color: #f0a366;
    color: white;
}